#thirdDiv{background-color: rgb(9, 9, 39);
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 5px solid rgb(236, 168, 40);}
    #spanId{font-size: 18px;
    margin: 50px;
    }
    li{color: rgb(226, 153, 17);}